# ignore all folders that are caches from the .Rmd
*_cache/
*_files/

# ignore all html files in "Code old" folder
Code old/*.html

#ignore big files
Tender_breasts_ANALYSIS.html
.Rproj.user

#ignore compiled modified cluster package
cluster_*.tar.gz

# ignore DS_store files
*.DS_Store

Code/.Rhistory
Code/.Rhistory
